.nav {
  width: 1600px;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
}
.nav .conatiner {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  margin-top: 66px;
  justify-content: space-between;
}
.nav .n {
  min-width: 100vw;
  height: 1000px;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #FBD784;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.ul {
  display: flex;
  gap: 40px;
}

.container {
  margin: 0 auto;
  width: 1040px;
}

.h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: left;
}

.h1 {
  font-weight: 700;
  font-size: 240px;
  line-height: 240px;
  color: #24343c;
}

.logo {
  width: 108px;
  height: 24px;
}

header {
  background: #0b1d26;
  height: 3040px;
  color: #ffffff;
  min-width: 100vw;
}
header .continer {
  height: 200vh;
  width: 1000px;
  border-radius: 0px;
  margin: 0 auto;
  gap: 200px;
  position: relative;
}
header .number-h {
  position: absolute;
  font-weight: 700;
  font-size: 240px;
  line-height: 240px;
  color: #ffffff;
  opacity: 0.1;
}
header .one-span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 27px;
  position: absolute;
  left: 20%;
  top: 155%;
  z-index: 10;
}
header .one-span .main-h {
  width: 555px;
  font-size: 64px;
  line-height: 77px;
}
header .one-span p {
  width: 582px;
}
header .two-p {
  width: 500px;
}
header .one-img {
  width: 500px;
  margin-left: 540px;
}
header .number-hh {
  position: absolute;
  left: 70%;
  top: 350%;
  font-weight: 700;
  font-size: 240px;
  line-height: 240px;
  color: #ffffff;
  opacity: 0.1;
}
header .two-span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 27px;
  position: absolute;
  left: 57%;
  top: 245%;
}
header .two-span .main-h {
  font-size: 60px;
  line-height: 77px;
}

.hh1 {
  position: absolute;
  top: -100px;
  z-index: -1;
}

.tre-span {
  margin-top: 100px;
}

.gradient {
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, rgba(11, 29, 38, 0.8666666667) 61.38%);
  width: 1600px;
  margin-top: -500px;
  height: 100px;
  opacity: 3;
}

span.tre-span {
  position: absolute;
  top: 350%;
}
span.tre-span h2 {
  width: 555px;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
}

.hh2 {
  position: absolute;
  top: 1600px;
  left: 850px;
  z-index: 0;
}

.hh3 {
  position: absolute;
  top: 2400px;
}

footer {
  display: grid;
  margin-top: 200px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 222px;
}

@media only screen and (max-width: 1200px) {
  span.two-span {
    position: relative;
    top: -600px;
    left: 70%;
    width: 632px;
  }
  span.tre-span {
    margin-top: -700px;
  }
  header {
    width: 500%;
  }
  span.one-span {
    position: relative;
    top: 190px;
    left: 0%;
    width: 632px;
  }
  .number-hh {
    transform: translate(-1200px, 200px);
  }
  .number-h {
    transform: translate(-1200px, 200px);
  }
  span.tre-span {
    position: absolute;
    top: 350%;
  }
  .tre {
    margin-top: -330px;
  }
  .n {
    position: absolute;
    display: inline-block;
    width: 500%;
    height: 500%;
  }
  nav {
    width: 100vw;
  }
}/*# sourceMappingURL=main.css.map */